/* html, body {
  max-height: 100%;
  overflow: hidden;
} */

pre {
  display: inline-block;
  color: unset;
  white-space: pre-line;
  font-family: unset;
  font-size: 1em;
}

.el-tag {
  color: white;
  font-size: 15px;
  font-family: Lato;
}

.el-tag--info {
  color: #909399
}

.el-tag:hover {
  cursor: pointer;
}