html, body {
  scrollbar-width: thin;
  overflow: auto !important;
  scrollbar-color: #FF4511 #111;
  font-family: sans-serif;
}

li {
  margin-left: 10px;
}

.v-main {
  padding-top: 224px !important;
}

.v-dialog .theme--dark.v-card {
  background-color: #434343;
}

.v-application {
  font-family: sans-serif;
}

.v-application .p-description.text-body-1 {
  letter-spacing: normal !important;
}

/* https://github.com/vuetifyjs/vuetify/issues/8875#issuecomment-559900683 */
.v-slide-group__prev {
  display: none !important;
}

.v-toolbar .v-list-item__subtitle,
.v-toolbar h4 {
  white-space: break-spaces;
  word-wrap: break-word;
  word-break: break-word;
}

#home {
  max-width: 1400px;
  /* padding: 0px; */
  /* overflow: hidden; */
}

#events {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  /* justify-content: center; */
}

@media only screen and (max-width: 600px) {
  #events {
    gap: 8px;
  }
}

.calh {
  /* this is to avoid content shift layout as v-calendar does not support SSR */
  height: 268px;
  max-width: 600px;
}

.container {
  max-width: 1400px;
}

.v-dialog {
  width: 600px;
  max-width: 800px;
}

.v-dialog .v-dialog--fullscreen {
  max-width: 100%;
}

.v-application p {
  margin-bottom: 6px;
}

.v-application blockquote {
  font-style: italic;
  padding: 15px;
}

.editor .ProseMirror {
  background-color: #f7f7f7;
}

.theme--dark .editor .ProseMirror {
  background-color: #292929;
}

.theme--dark.v-list {
  background-color: #333;
}

.v-autocomplete__content.v-menu__content {
  scrollbar-width: thin;
  scrollbar-color: #FF4511 #111;
}

.event {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 330px;
  max-width: 500px !important;
  flex-grow: 1;
  /* margin-top: 16px;
  margin-right: 16px; */
  transition: all .5s;
  overflow: hidden;
}

.event  .title {
  display: -webkit-box;
  overflow: hidden;
  margin: 0.5rem 1rem 0.5rem 1rem;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-size: 1.1em !important;
  line-height: 1.2em !important;
  /* text-decoration: none; */
}

.event .body {
  flex: 1 1 auto;
}

.event .place span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.event a {
  text-decoration: none;
}

.event a:hover,
.event a:focus {
  text-decoration: underline;
}

.vc-past {
  opacity: 0.4;
}

#event {
  max-width: 1200px;
}

/* .tags .v-chip .v-chip__content {
  max-width: 120px;
  white-space: nowrap;
  overflow: hidden;
  display: block;
} */


.cursorPointer {
  cursor: pointer;
}

pre {
  white-space: break-spaces;
  font-size: 13px;
}
